/* remove place for sort indicator to move column header text more to the right border */
/*.openerp .oe_list_content th.oe_sortable div:after {*/
    /*border: none;
    margin-right: 6px;*/
    /*
    content: "";
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #000 transparent;
    visibility: hidden;
    */
/*}*/

/* align all float fields to the right */
.oe_list_header_float, .oe_list_header_monetary {
    text-align: right !important;
    margin: 0px;
}